@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview

@model AutoKarakteristikeUrediWM


<div style="width:auto" class="col-md-4 col-md-offset-4">
   

    <form asp-action="Snimi" asp-controller="AutoKarakteristike">

        <div class="form-group">
            <label>Karakteristike ID  : </label>
            <div>
                <input asp-for="KarakteristikeID" class="form-control" readonly />

            </div>
        </div>

        <div class="form-group">
            <label>Model automobila    : </label>
            <div>
                <select asp-for="AutomobilID" asp-items="Model.ModelAutomobila"> </select>

            </div>
        </div>

        <div class="form-group">
            <label>Stanje </label>
            <div>
                <input asp-for="Stanje" class="form-control" />
                <span asp-validation-for="Stanje" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Godiste :  </label>
            <div>
                <input asp-for="Godiste" class="form-control" />
                <span asp-validation-for="Godiste" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Cijena   : </label>
            <div>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Kilometraza : </label>
            <div>
                <input asp-for="Kilometraza" class="form-control" />
                <span asp-validation-for="Kilometraza" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Snaga  : </label>
            <div>
                <input asp-for="Snaga" class="form-control" />
                <span asp-validation-for="Snaga" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Zapremina  : </label>
            <div>
                <input asp-for="Zapremina" class="form-control" />
                <span asp-validation-for="Zapremina" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Gorivo  : </label>
            <div>
                <input asp-for="Gorivo" class="form-control" />
                <span asp-validation-for="Gorivo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Broj vrata  : </label>
            <div>
                <input asp-for="BrojVrata" class="form-control" />
                <span asp-validation-for="BrojVrata" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Pogon : </label>
            <div>
                <input asp-for="Pogon" class="form-control" />
                <span asp-validation-for="Pogon" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Transmisija   : </label>
            <div>
                <input asp-for="Transmisija" class="form-control" />
                <span asp-validation-for="Transmisija" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Boja : </label>
            <div>
                <input asp-for="Boja " class="form-control" />
                <span asp-validation-for="Boja" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Svjetla  : </label>
            <div>
                <input asp-for="Svjetla" class="form-control" />
                <span asp-validation-for="Svjetla" class="text-danger"></span>
            </div>
        </div>


        <input type="submit" class="form-control btn btn-primary" value="Snimi" />

    </form>
    
</div>  