@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview

@model RezervacijaUrediWM


<div style="width:auto" class="col-md-4 col-md-offset-4">
   

    <form asp-action="Snimi" asp-controller="Rezervacija">

        <div class="form-group">
            <label>Rezervacija   ID : </label>
            <div>
                <input asp-for="RezervacijaID" class="form-control" readonly />

            </div>
        </div>

        <div class="form-group">
            <label>Datuma rezervacije   : </label>
            <div>
                <input asp-for="DatumRezervacije" class="form-control" />
                <span asp-validation-for="DatumRezervacije" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Aktivna    : </label>
            <div>
                <input asp-for="Aktivna" class="form-control" />
                <span asp-validation-for="Aktivna" class="text-danger"></span>
            </div>
        </div>

        @*<div class="form-group">
            <label>Odobrena     : </label>
            <div>
                <input asp-for="Odobrena" class="form-control" readonly />
               
            </div>
        </div>

        <div class="form-group">
            <label>Zavrsena     : </label>
            <div>
                <input asp-for="Zavrsena" class="form-control"  />
               
            </div>
        </div>*@

        <div class="form-group">
            <label>Ime i prezime klijenta  : </label>
            <div>
                <select asp-for="KlijentID" asp-items="Model.KlijentiStavke"></select>

            </div>
        </div>

        <input type="submit" class="form-control btn btn-primary" value="Snimi" />

    </form>
    
</div>  