@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview


@model GradPrikazWM


    <style>

        #D2 {
            display: inline-block;
        }
    </style>


    <div class="text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Grad ID </th>
                    <th> Naziv  </th>
                    <th> Akcija  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model.GradoviRow)
                {
                    <tr>
                        <td> @k.GradID</td>
                        <td> @k.Naziv</td>
                        <td>
                            <a class="btn btn-primary" href="/Grad/Uredi?ID=@k.GradID"> Uredi </a>|
                            <a class="btn btn-danger" href="/Grad/Obrisi?ID=@k.Naziv"> Obrisi </a>
                        </td>
                    </tr>

                }

            </tbody>


        </table>
    </div>
    <a href="/Grad/Dodaj" class="btn btn-primary"> Dodaj</a>
    <a id="D2" href="/Home/Index" class="btn btn-primary"> Home </a>