@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview

@model OpremaUrediWM


<div style="width:auto" class="col-md-4 col-md-offset-4">
   

    <form asp-action="Snimi" asp-controller="Oprema">

        <div class="form-group">
            <label>Oprema  ID : </label>
            <div>
                <input asp-for="OpremaID" class="form-control" readonly />

            </div>
        </div>

        <div class="form-group">
            <label>Sadrzaj  : </label>
            <div>
                <input asp-for="OpisOpreme" class="form-control" />
                <span asp-validation-for="OpisOpreme" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Paket opreme  : </label>
            <div>
               <select asp-for="PaketOpremeID" asp-items="Model.PaketOpreme"></select>
               
            </div>
        </div>

        <input type="submit" class="form-control btn btn-primary" value="Snimi" />

    </form>
    
</div>  