@{
    ViewData["Title"] = "Zabranjen pristup";
}

<div class="text-center">
    <h1 class="text-danger">Zabranjen pristup!</h1>
    <h6 class="text-danger">Nemate dozvolu za ovu opciju</h6>
    <img src="~/Images/no-access.png" style="height: 300px; width: 300px" />
</div>