<h2>Odjavi se</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="LogOutPotvrda">
            <span>Da li se zaista želite odjaviti?</span>
            <button type="submit" style="width:auto; color: white; cursor: pointer;" class="btn btn-danger">Da</button>
        </form>
    </div>
 </div>