@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview

@model RadnoMjestoUrediWM


<div style="width:auto" class="col-md-4 col-md-offset-4">
   

    <form asp-action="Snimi" asp-controller="RadnoMjesto">

        <div class="form-group">
            <label>RadnoMjesto  ID : </label>
            <div>
                <input asp-for="RadnoMjestoID" class="form-control" />
              
            </div>
        </div>

        <div class="form-group">
            <label>Naziv : </label>
            <div>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="form-control btn btn-primary" value="Snimi" />

    </form>
    
</div>  