@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview

@model KlijentUrediWM


<div style="width:auto" class="col-md-4 col-md-offset-4">
   

    <form asp-action="Snimi" asp-controller="Klijent">

        <div class="form-group">
            <label>Klijent ID : </label>
            <div>
                <input asp-for="KlijentID" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            <label>Ime : </label>
            <div>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Prezime: </label>
            <div>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label>Korisnickoime : </label>
            <div>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>Lozinka : </label>
            <div>
                <input type="password" asp-for="Lozinka" class="form-control" />

                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Datum registracije  : </label>
            <div>
                <input asp-for="DatumRegistracije"  />
              
            </div>
        </div>
        <div class="form-group">
            <label>Grad  : </label>
            <div>
                <select asp-for="GradID" asp-items="Model.GradoviStavka" class="form-control"> </select>
            </div>
        </div>
        <div class="form-group">
            <label>Adresa  : </label>
            <div>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Activan  : </label>
            <div>
                <input asp-for="Activan"  />
            
            </div>
        </div>

        <input type="submit" class="form-control btn btn-primary" value="Snimi" />

    </form>

</div>  